.container {
	border: 1px solid green;
	padding: 5px;
	float: left;
}

.purplec {
	border-color: purple;
	background: white;
}

.blackc {
	border-color: black;
	background: white;
} 
.drop {
	border: 1px dotted green;
	font-size: xx-small;
}

.node {
	border-color: blue;
}

.leaf {
	border-color: red;
}

.nl {
	margin-left: 13px;
	width: 10px;
	height: 3px;
}

.holder {
	border-style: dashed;
}

.end {
	clear: left;
}

.layout {

}

