body {
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	background-image: url('shl.png');
}
#header {
	color: #659A00;
	border-bottom: 2px solid #ADBF6B;
	background-image: url('small_green_grad.png');
	width: 100%;
	margin-bottom: 50px;
	height: 50px;
	padding-top: 5px;
	padding-left: 15px;
	-moz-box-sizing: padding-box;
}

a {
	text-decoration: none;
}

#link-bar {
	margin-left:15%;
	margin-bottom: -1;
	padding-left: 20px;
	color: grey;
}

#link-bar a {
	color: #659A00;
	text-decoration: none;
}

#vp-title {
	float: left;
	font-weight: bold;
	margin: 3px;
}

#vp-version {
	float: right;
	margin: 3px;
	margin-right: 10px;
}

#kr-layout-column {
	display: block;
	background: white;
	overflow: auto;
	height: 500px;
	min-height: 500px;
	border-top: 1px solid #ADBF6B;
	border-bottom: 1px solid #ADBF6B;

}

#kr-layout {
	color: #909090;
}

.tools {
	float: left;
	overflow: auto;
	margin-right: 20px;
	height: 100%;
	background-image: url('small_green_grad.png');
	padding: 10px;
	width: 200px;
	border-right: 1px solid #ADBF6B;
	-moz-box-sizing: padding-box;
}

input {
	margin-top: 7px;
}

select {
	margin-top: 7px;
}

textarea {
	margin-top: 7px;
}

.float-r {
	float: right;
}
.tool-panel {
	color: #659A00;
	float: left;
	clear:left;
	margin-bottom: 15px;

}

.panel {
	color: grey;
	border: 0px solid #D8D8D8;
	border-radius: 5px;

	padding: 10px;
	float: left;
	background-image: url('dl-grey.png');
	background-repeat: repeat-x;
	margin-top: 15px;
}

.panel-box {
	color: grey;
	background-color: white;
	border: 2px solid #D8D8D8;
	border-radius: 5px;

	padding: 3px;
	overflow-y: auto;
}

.panel-box td {
	color: grey;
	padding: 3px;
}

.form-text {
	border-radius: 2px;
	border: 2px solid #D8D8D8;
	color: grey;
	padding: 3px;
	background-color: white;
}

.form-disabled {
	background-color: #FDF8F8;
}

.form-select {
	padding: 0px;
	padding-left: 3px;
}

.form-button {
	color: grey;
	border-bottom: 0px solid #808080;
	border-right: 0px solid #808080;
	background-color: #FDF8F8;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
}

.switch-a {
	text-decoration: none;
	color: grey;
}

.switch-a:hover {
	text-decoration: underline;
}
.form-item {
	margin-top: 7px;
}
.font-small {
	font-size: small;
}
.panel hr {
	border: 0px dotted #D8D8D8;
	border-bottom-width: 3px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.li-inactive {
	color: grey;
}

.li-active {
	color: #B3DD63;
}

.ok-text-green {
	color: #7D9E05;
}

.ok-text-grey {
	color: #808080;
}

.ok-text-blue {
	color: #63819F;
}

.ok-text-error {
	color: #EF6459;
}
.tx-bold {
	font-weight: bold;
}

.tx-lbreath-top {
	margin-top: 7px;
}

.tx-mbreath-top {
	margin-top: 10px;
}

.tx-detail {
	font-size: 18px;
}

.tx-large {
	font-size: 25px;
}

.tx-xlarge {
	font-size: 30px;
}

.tool-icon {
	text-align: center;
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
}

.tool-icon a {
	color: #808080;
	font-weight: bold;
	border-width: 0px;
}
.tool-icon img {
	border-width: 0px;
	margin-bottom: 5px;
}

